.text_container,
.email_container,
.password_container {
  position: relative;

  .text_input,
  .email_input,
  .password_input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: $white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid $white;
    outline: none;
    background: transparent;

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label, {
      top: -20px;
      left: 0;
      font-size: 12px;
    }

    &:valid ~ label {
      color: $valid-text-color;
    }
  }

  .text_label,
  .email_label,
  .password_label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: $white;
    pointer-events: none;
    transition: .5s;
  }

  .required:after {
    content: " *";
    color: $danger-color;
  }
}


