#transition-modal-title {
  font-family: $text-font;
}

#transition-modal-description {
  form {
    background: $primary-color;
    box-shadow: 0 15px 25px $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius;
    padding: 0.5rem;
    font-family: $text-font;

    div {
      width: 100%;
    }

    .word_form_checkbox {
      label {
        color: $white;
      }
    }
  }
}