#transition-modal-title {
  font-family: $text-font;
}

#transition-modal-description {
  form {
    background: $primary-color;
    box-shadow: 0 15px 25px $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius;
    padding: 0.5rem;
    font-family: $text-font;

    div {
      width: 100%;
    }

    .word_form_checkbox {
      label {
        color: $text-color;
      }
    }

    .world_text_area {
      position: relative;

      #world_text_area_id {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: $text-color;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid $text-color;
        outline: none;
        background: transparent;
      }

      #world_text_area_id:focus ~ label,
      #world_text_area_id:not(:placeholder-shown) ~ label, {
        top: -25px;
        left: 0;
        font-size: 12px;
      }

/*      #world_text_area_id:valid ~ label {
        color: $valid-text-color;
      }*/

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: $text-color;
        pointer-events: none;
        transition: .5s;
      }
    }
  }
}