// Fonts
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Press+Start+2P&family=Supermercado+One&display=swap');

$text-font: 'Acme', sans-serif;

// Colors
$primary-color: #0a101a;
$secondary-color: #dee2e6;

$black: #000000;
$white: #FFFFFF;

$primary-widget-color: #91D982;
$secondary-widget-color: #5AD871;
$box-shadow: #C5CCD3;

$caution-color: #FDE74C;
$danger-color: #E34F26;
$invalid-background-color: #f8d7da;
$invalid-text-color: #7d2b33;

$border-radius: 5px;

//buttons
$button-text-color: #03e9f4;

body{
  margin: 0;
  font-family: $text-font;
}

a {
  color: #000000;
  text-decoration: none;
}