$navbar-height: 6rem;
$navbar-font_size: 1.5rem;

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px $box-shadow;

  .navbar__logo {
    height: $navbar-height;

    a {
      img {
        height: $navbar-height;
      }
    }
  }

  .navbar__menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: $navbar-height;
    margin-right: 4rem;

    .active {
      border-bottom: 3px solid $primary-widget-color;
    }

    a {
      margin-top: calc(#{$navbar-height}/2 - #{$navbar-font_size}/2);
      font-size: $navbar-font_size;
      font-weight: bolder;
    }
  }
}


@media only screen and (min-width: 900px) {
  .navbar__container {
    .navbar__menu {
    }
  }
}