.option_bar {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  height: 3rem;
  background-color: $white;

  .option_bar_menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50%;
    margin-right: 2rem;

    .option_bar_menu_item {

    }
  }
}