.page__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background: linear-gradient(#141e30, #243b55);

  .register__page__container {

    .register_picture {

    }

    .register_form_container {

    }
  }
}