$card_width: 20rem;
$picture_height: calc(#{$card_width} * 9 / 16);

.page__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background: linear-gradient(#141e30, #243b55);

  .world__page__container {
    display: flex;
    margin-left: $side-navbar-width; //side-bar relative
    flex-grow: 1;
    width: 100%;

    .world__card__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 3rem;
      padding: 3rem;

      .world__card {
        display: flex;
        flex-direction: column;
        background-color: $primary-color;
        width: $card_width;
        border-radius: 1rem;
        box-shadow: 0 15px 25px $primary-color;
        min-height: 15rem;

        img {
          width: $card_width;
          height: $picture_height;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        .world_card_informations {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          height: auto;

          .world_card_name {
            width: 100%;
            text-align: center;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: bolder;
            color: $white;
          }

          .world_card_content {
            width: 100%;
            height: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .world_card_description {
              text-align: justify;
              padding: 1rem 0.5rem 1rem 0.5rem;
              max-height: 8rem;
              overflow-y: scroll;
              color: $white;
            }

            .world_card_creation {
              text-align: end;
              padding: 1rem;
              color: $white;
            }
          }
        }
      }
    }
  }
}